<!DOCTYPE html>
<html>
<head>
  <title>Stronka Kuby :D</title>
</head>
<body>
  <h1> HELLO xd</h1>
  <form accept="/search" method ="get">
    <input type ="text" id="summoner" name="summoner" placeholder="summoner name">
    info:
      {{info.id}}
  </form>

</body>
</html>
